:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --color-font: #ffffff;
  --color-primary: #050;
  --color-font-secondary: #000000;
  --color-gray: #acacac;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.completed {
  text-decoration: line-through;
  color: var(--color-gray);
}

.btn {
  padding: 10px;
  border-radius: 6px;
  background-color: var(--color-font);
  color: var(--color-font-secondary);
  border: none;
  transition: 0.3s all;
  font-weight: 700;
}

.btn:hover {
  background-color: var(--color-gray);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 20px;
}

.nav, .social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav a, .social-list a {
  color: var(--color-font);
}
.nav a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.social-list a {
  font-size: 24px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
.todo-wrapper h1 {
  text-align: center;
  margin-bottom: 40px;
}
.todo-form-wrapper {
  background-color: var(--color-primary);
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.todo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}

.todo-form input {
  background-color: transparent;
  outline: none;
  padding: 10px;
  width: 50%;
  border: none;
  border-bottom: 1px solid var(--color-font) ;
}
.todo-form input::placeholder {
  font-weight: 500;
  font-size: 14px;
}

.error-form {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
}

.todo-item {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-font);
  margin-bottom: 12px;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.icons-wrapper svg {
  cursor: pointer;
  transition: 0.3s all;
}